.jumbotron {
  background-color: aqua;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 5px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 5px;
}
.tab-content {
  padding-top: 10px;
}
.btn {
  width: 100%;
}
