@topFondo: aqua;
@yellow: rgb(247, 224, 19);
@red: rgb(228, 18, 18);
@green: rgb(35, 206, 20);

//esto es un mixin de sass
.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color:@topFondo;
    color: black;
    margin-top: 50px;
    .margenes(50px, 20px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color:@topFondo;
    .margenes(10px, 0px)
}

.card-hotel {
    flex: 1 150px;
    padding: 5px 0px 0px 0px;
    .margenes(10px, 0px)
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 5px;
}

.tab-content {
    padding-top: 10px;
}

.btn {
    width: 100%;
}